<div class="jumbotron ucla_bg">
  <h1 style="color: white; text-align: center;">Practice Makes Perfect...</h1>
  <h3 style="color: white; text-align: center;">Tests and homework from your fellow Bruins!</h3>
  <h3 style="color: white; text-align: center;">Trade Now!</h3>
  <p style="text-align: center;"><a class="btn btn-default btn-lg">Start</a></p>
</div>

<div class="container">
  <h3 class="text-center"> Browse by Department</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Department</th>
        <th>Courses</th>
      </tr>
    </thead>
    <tbody>
      <% @department.each do |course, course_ids| %>
        <tr>
          <td><%= course %></td>
          <td>
            <% course_ids.each do |course_id| %>
              <%= link_to search_course_path(dpm: course, course: course_id) do %>
                <%= course_id %>
              <% end %>
              <% unless course_id == course_ids.last %>&nbsp;<% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
