<div class="container" style="position: absolute;
  top: 50%;
  margin-top: -200px;
  left: 0;
  width: 100%;">
	<div class="panel panel-default text-center" style="margin-left: auto;
  margin-right: auto;
  max-height: 400px;
  max-width: 60%;">
	  <div class="panel-heading"><h2>Search for a course to upload documents to:</h2></div>
	  <div class="panel-body">
	    <%= render partial: 'shared/search_bar' %>
	  </div>
	</div>
</div>
