<%= link_to 'Yes', document_spam_path(description:@doc.description, document_id: @doc.id, reporter: current_user.email), class: 'btn btn-default', remote: true %>
<button type="button" class="btn btn-primary" data-dismiss="modal">No</button>