<div class="container">
	<div class="panel panel-default">
	  <div class="panel-body">
	    <h2><%= @department %></h2>
	  </div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="col-sm-3">Professor</div>
				<div class="col-sm-3">Quarter and Year</div>
				<div class="col-sm-6">Documents</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-3">Professor</div>
				<div class="col-sm-3">Quarter and Year</div>
				<div class="col-sm-6">Documents</div>
			</div>
		</div>
	</div>

</div>