<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2><%= @department + " " + @course_id%>
        <% if user_signed_in? && current_user.admin? %>
          <span>
           <%= link_to 'Delete Course', delete_course_path(department: @department, course_id: @course_id),
              method: :delete, class: "btn btn-default", style: 'float: right' %>
          </span>
        <% end %>
      </h2>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-3">
      <div class="list-group text-center">
        <% @query_results.each do |result| %>
          <% unless result.nil? %>
            <%= link_to result.format_name, search_specific_course_path(course_id: result.id), remote: true, class: 'list-group-item' %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-9" id='document_bar'></div>
  </div>
</div>


