<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      The following document was reported as spam:
    </p>
    <li> <b>Document description:</b> <%= @desc %> </li>
    <li> <b>Document id:</b> <%= @doc %></li>
    <li> <b>Reporter:</b> <%= @reporter %></li>
    <p>
      Please check the document and ban user accordingly.
    </p>
  </body>
</html>