<div class="container">
  <div class="jumbotron">
    <h2>Search for a course to add:</h2>
    <%= form_tag add_course_post_path do %>

  	<div class="form-group">
  		<%= text_field_tag 'dep_name', nil, placeholder: 'Department Name', class: 'form-control', autofocus: true %>
  		<%= text_field_tag 'crse_name', nil, placeholder: 'Course ID (Optional)', class: 'form-control' %>
  	</div>
  	<button type="submit" class="btn btn-default">Add Course</button>
  <% end %>
  </div>
</div>
