<div class="container">
  <% if current_user.admin? %>
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Manage Course</h4></div>
      <div class="panel-body">
        <%= link_to 'Add course', add_new_course_path %>
        <br>
        <%= link_to 'Delete course', search_test_path %>
      </div>
    </div>
  <% else %>
  <% end %>
</div>