<%= form_tag search_path, :class => 'navbar-form navbar-right', :role => 'search' do %>
	<div class="form-group">
		<%= text_field_tag 'dpm_name', nil, placeholder: 'Department Name', class: 'form-control', autofocus: true %>
		<%= text_field_tag 'course_name', nil, placeholder: 'Course ID (Optional)', class: 'form-control' %>
	</div>
	<button type="submit" class="btn btn-default">Search</button>
<% end %>

<!-- <form class="navbar-form navbar-right" role="search">
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Department Name">
		<input type="text" class="form-control" placeholder="Course ID (Optional)">
	</div>
	<button type="submit" class="btn btn-default">Search</button>
</form> -->

<!-- http://stackoverflow.com/questions/3188157/how-to-set-up-jquery-ui-autocomplete-in-rails -->