// Place all the styles related to the Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.preview_panel{
	width: 100%;
	border: 1px solid #e7e7e7;
  	border-width: 4px 1px 4px 1px;
	margin: 0 0 20px 0;
}